<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canteko.helloworld">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld">
        <activity
            android:name=".CustomListViewActivity"
            android:exported="true" />
        <activity
            android:name=".SimpleListViewActivity"
            android:exported="true" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="true"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.HelloWorld.NoActionBar" />
        <activity
            android:name=".TabsActivity"
            android:exported="true"
            android:label="@string/title_activity_tabs" />
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/Theme.HelloWorld.NoActionBar" />
        <activity
            android:name=".MenuActivity"
            android:exported="true" />
        <activity
            android:name=".DialogActivity"
            android:exported="true"
            android:label="@string/title_activity_dialog"
            android:theme="@style/Theme.HelloWorld.NoActionBar" />
        <activity
            android:name=".MultiscreenTabletsActivity"
            android:exported="true" />
        <activity
            android:name=".MultiscreenActivity"
            android:exported="true" />
        <activity
            android:name=".ComunicatedFragmentsActivity"
            android:exported="true" />
        <activity
            android:name=".FragmentListActivity"
            android:exported="true" />
        <activity
            android:name=".DynamicFragmentActivity"
            android:exported="true"
            android:label="@string/title_activity_dynamic_fragment"
            android:theme="@style/Theme.HelloWorld.NoActionBar" />
        <activity
            android:name=".FragmentActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".GlideActivity"
            android:exported="true" />
        <activity
            android:name=".PicassoActivity"
            android:exported="true" />
        <activity
            android:name=".EntranceActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".LinearLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".GestionAlarmasActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecundarioActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>